.app {
  margin: 0 auto;
  padding: 2em 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px dashed #888888;
  border-radius: 30px;
}

.subtitle {
  font-size: 14px;
  display: flex;
  gap: 3px;
  justify-content: center;
}
